.mitten{
    width:960px;
    margin:0 auto;
}
body{
    background-color:grey;
}
.container{
    width:960px;
    margin: 0 auto;
}
img{
    width: 960px;
    height: 400px;
}
section{
    background-color: #273370;
    height: 500px;
}
section img{
    height: 200px;
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    float: left;
}
aside img{
    width: 190px;
    margin: 5px;
}
.hej{
    width: 200px;
    float: left;
}
section h2, p{
    float: left;
    margin: 20px;
}
aside{
    width: 200px;
    height: 470px;
    float: right;
    margin:10px;
    border: inset black 5px;
    float: right;
}
nav ul{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
footer{
    background-color: yellow;
    height: 200px;
}
ul li{
    display: inline;
    color: black;
    margin:10px;
    font-size: 25px;
}
ul{
    margin-bottom: 0px;
}
ul li a{
    text-decoration: none;
    color:black;
}
li a:hover{
    color:red;
}
