form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: 6px 6px 5px black;

}
form div + div{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-top: 30px;
}
.button{
    text-align: center;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    box-shadow: 6px 6px 5px #000E70;
}
textarea{
    box-shadow: 6px 6px 5px #000E70;
    resize: none;
    border-radius: 5px;
    margin-top: 30px;
}



table,td {
    border-collapse: collapse;
    border-style: solid;
    color: black;
    font-size: 50px;
    margin: 0 auto;
}
td{
    padding: 10px;
}
td a{
    text-decoration: none;
}